<!doctype html>
{% autoescape off %}
{% load livewhale_api %}
<html class="no-js" lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metatags %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endblock %}
    {% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
    <link href="https://spacegrant.carthage.edu/themes/europa/assets/css/europa.css" rel="stylesheet" type="text/css">
    <link href="https://spacegrant.carthage.edu/themes/europa/assets/css/addons.css" rel="stylesheet" type="text/css">
    <link href="https://app.carthage.edu/themes/shared/css/forms.css" rel="stylesheet" type="text/css">
    <link href="https://app.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block extra_style %}
    <style>
    ul.social-list li { display: inline-block; padding-right:4px;}
    </style>
    {% endblock %}
  </head>
  {% block body %}
  <body{% block extra_body %}{% endblock %}>
    <a href="#page-content-wrap" class="lw_skip_link skip-to-maine">Skip to main content</a>
    <header>
      <article class="grid-container margin-top-1">
        <div class="grid-x grid-margin-x">
          <!-- logo -->
          <div class="large-4 medium-4 small-12 cell">
            <a id="wsgc-logo" href="https://spacegrant.carthage.edu" aria-current="page">
              <img src="https://spacegrant.carthage.edu/themes/europa/assets/images/WSGC_NASA_Logo.png" alt="Wisconsin Space Grant Consortium">
            </a>
          </div>
          <!-- / logo -->
          <div class="large-8 medium-8 small-12 margin-top-2">
            <div class="grid-x grid-margin-x">
              <div class="large-1 show-for-large">&nbsp;</div>
              <div class="large-8 medium-7 small-4 cell" style="margin-left: 12px">
                <div id="tools-menu" class="float-right">
                  <ul class="menu vertical medium-horizontal show-for-medium" data-responsive-menu="drilldown medium-dropdown">
                    <li class="has-submenu"><a href="#" id="audience-menu">Tools & Tips:</a>
                      <ul class="submenu menu vertical" data-submenu>
                        <li><a href="/about/members/tools-and-tips/">Affiliate Members</a></li>
                        <li><a href="/students/tools-and-tips/">Students</a></li>
                        <li><a href="/educators/tools-and-tips/">Educators</a></li>
                        <li><a href="/researchers/tools-and-tips/">Researchers</a></li>
                        <li><a href="/funding-programs/aerospace/tools-tips/">Funding Programs</a></li>
                        <li><a href="/first-nations-launch/tools-and-tips/">First Nation</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div id="info-menu" class="float-right">
                  <ul class="menu vertical medium-horizontal show-for-medium" data-responsive-menu="drilldown medium-dropdown">
                    <li class="has-submenu"><a href="#" id="audience-menu">Information For:</a>
                      <ul class="submenu menu vertical" data-submenu>
                        <li><a href="https://spacegrant.carthage.edu/students/">Students</a></li>
                        <li><a href="https://spacegrant.carthage.edu/educators/">Educators</a></li>
                        <li><a href="https://spacegrant.carthage.edu/researchers/">Researchers</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="large-3 medium-5 small-6" id="djauth">
                {% if user.is_authenticated %}
                  <a href="{% url 'account_logout' %}" class="button util-button">Sign Out</a>
                {% else %}
                  <a href="{% url 'account_login' %}" class="button util-button">Sign In</a>
                {% endif %}
                <a href="https://spacegrant.carthage.edu/about/login/" class="button util-button">Register</a>
              </div>
              <div class="large-1 medium-1 small-1">
                <div id="main-search">
                  <div class="icon"><span data-toggle="search-container">search</span></div>
                  <div class="dropdown-pane" data-position="bottom" data-alignment="right" id="search-container" data-dropdown data-auto-focus="true">
                    <form action="https://spacegrant.carthage.edu/about/search/" method="get">
                        <input class="search-box" type="text" title="Search Input Box" autocomplete="off" placeholder="Search" name="q">
                        <input class="search-submit" type="submit" value="Go">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- /.large-8 -->
        </div> <!-- /.grid-x -->
        <div class="title-bar" style="padding-left:0" data-responsive-toggle="main-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <!-- begin main menu -->
        <div id="main-menu" class="column align-center">
          <ul class="menu vertical medium-horizontal margin-top-1" data-responsive-menu="drilldown medium-dropdown">
            <li class="has-submenu show-for-small-only" data-hide-for="medium">
              <a href="#">Information For</a>
              <ul class="vertical menu">
                <li><a href="/students/">Students</a></li>
                <li><a href="/educators/">Educators</a></li>
                <li><a href="/researchers/">Researchers</a></li>
              </ul>
            </li>
            <li class="has-submenu show-for-small-only" data-hide-for="medium">
              <a href="#">Tools & Tip</a>
              <ul class="vertical menu">
                <li><a href="/about/members/tools-and-tips/">Affiliate Members</a></li>
                <li><a href="/students/tools-and-tips/">Students</a></li>
                <li><a href="/educators/tools-and-tips/">Educators</a></li>
                <li><a href="/researchers/tools-and-tips/">Researchers</a></li>
                <li><a href="/funding-programs/aerospace/tools-tips/">Funding Programs</a></li>
                <li><a href="/first-nations-launch/tools-and-tips/">First Nation</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="https://spacegrant.carthage.edu/about/">About Us</a>
              <ul class="submenu menu vertical" data-submenu>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/about/mission/">WSGC Mission</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/about/mission/directorates/">NASA Directorates</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/strategic-plan/">Strategic Plan</a></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/about/contact/">Contact Us</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/about/contact/stakeholder-feedback/">Stakeholder Feedback</a></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/about/members/">Affiliate Members</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/about/members/tools-and-tips/">Tools and Tips</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/members/join/">How to Join</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/members/benefits/">Membership Benefits</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/members/requirements/">Membership Requirements</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/members/obligations/">Membership Obligations</a></li>
                    <li><a href="https://spacegrant.carthage.edu/about/members/ird/">Institutional Representative Duties</a></li>
                  </ul>
                </li>
                <li>
                  <a href="https://spacegrant.carthage.edu/about/carthage/">About Carthage College</a>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/students/">For Students</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/students/tools-and-tips/">Tools and Tips</a></li>
                    <li><a href="https://spacegrant.carthage.edu/students/space-grant-majors/">Space Grant Majors</a></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/educators/">For Educators</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/educators/tools-and-tips/">Tools and Tips</a></li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/researchers/">For Researchers</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><a href="https://spacegrant.carthage.edu/researchers/tools-and-tips/">Tools and Tips</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="https://spacegrant.carthage.edu/funding-programs/">Funding Programs</a>
              <ul class="submenu menu vertical" data-submenu>
                <li>
                  <a href="https://spacegrant.carthage.edu/funding-programs/calendar-of-opportunities/">Calendar of Opportunities</a>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/">Undergraduate Programs</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/1987-undergraduate-scholarship">Undergraduate Scholarships</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2007-undergraduate-research">Undergraduate Research</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2005-women-in-aviation-scholarship">Aviation Scholarship</a>
                    </li>
                    <!--
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2006-stem-bridge-scholarship">STEM Bridge Scholarship</a>
                    </li>
                    -->
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2009-unmanned-aerial-vehicle-research">Unmanned Aerial Vehicle Research</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2084-collegiate-rocket-competition">Rocket Competitions</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/funding-programs/undergraduate/crl-launch-2-learn-level-i-certification-workshop/">CRL Launch 2 Learn Rocket Workshop</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2081-nasa-internships">NASA Internships</a>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/funding-programs/graduate-professional/">Graduate &amp; Professional</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2010-clark-research-fellowship">Clark Research Fellowship</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/1998-wsgc-graduate-professional-research-fellowship">WSGC Research Fellowship</a>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/funding-programs/faculty/">Faculty Programs</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/1999-early-stage-investegator">Early-Stage Investigator</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2011-research-infrastructureseed-program">Research Infrastructure/SEED Program</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2012-higher-education-incentives">Higher Education Incentives</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2013-nasa-sponsored-competitions">NASA Sponsored Competitions</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2082-rocksat">RockOn!/RockSat-C</a>
                    </li>
                    <li>
                      <a href="https://laspace.lsu.edu//hasp/">High Altitude Student Platform (HASP)</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/funding-programs/faculty/speakers-bureau/">Speakers Bureau</a>
                    </li>
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/funding-programs/k-12/">Outreach Programs</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2000-aerospace-outreach-program">Aerospace Outreach</a>
                    </li>
                    <!--
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2014-special-initiatives-program">Special Initiatives</a>
                    </li>
                    -->
                  </ul>
                </li>
                <li class="has-submenu">
                  <a href="https://spacegrant.carthage.edu/funding-programs/aerospace/">Aerospace Industry</a>
                  <ul class="submenu menu vertical" data-submenu>
                    <li>
                      <a href="https://spacegrant.carthage.edu/live/profiles/2015-industry-internship-program">Industry Internship Program</a>
                    </li>
                    <li>
                      <a href="https://spacegrant.carthage.edu/funding-programs/aerospace/tools-tips/">Tools and Tips</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="https://spacegrant.carthage.edu/news/">News &amp; Awards</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://spacegrant.carthage.edu/news/archive/">Affiliates In the News</a></li>
                <li><a href="https://spacegrant.carthage.edu/news/simpson-street/">Simpson Street Free Press</a></li>
                <li><a href="https://spacegrant.carthage.edu/news/student-spotlights/">WSGC Student Spotlights</a></li>
                <li><a href="https://spacegrant.carthage.edu/awards/">Awards</a></li>
                <li><a href="https://spacegrant.carthage.edu/news/research/">Research News</a></li>
                <li><a href="https://spacegrant.carthage.edu/news/students/">Submit a Student Story</a></li>
                <li><a href="https://spacegrant.carthage.edu/news/alumni/">Submit an Alumni Story</a></li>
                <li><a href="https://spacegrant.carthage.edu/calendar/">Calendar</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="https://spacegrant.carthage.edu/conference/">Conference</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://spacegrant.carthage.edu/conference/2024/">2024 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2023/">2023 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2022/midwest-regional-space-grant-directors-meeting/">2022 Midwest Regional Meeting</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2022/">2022 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2021/">2021 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2020/">2020 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2019/">2019 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2018/">2018 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2017/">2017 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2016/">2016 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2015/">2015 Conference</a></li>
                <li><a href="https://spacegrant.carthage.edu/conference/2014/">2014 Conference</a></li>
                <li><a href="https://dione.carthage.edu/ojs/index.php/wsc">Proceedings of the WSC</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="https://spacegrant.carthage.edu/first-nations-launch/">First Nations Launch</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/tools-and-tips/">Tools and Tips</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/calendar/">Calendar</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/patch-contest/">Patch Contest</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/launch-2-learn-rocket-certification-workshop/">Rocket Certification Workshop</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/application-process/">Application Process</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/competition-prizes/">Competition Prizes</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/faq/">FAQ</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/rubric/">Report Templates and Scoring Rubric</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/rocket-instructional-videoswebinars/">Rocket Instructional Videos/Webinars</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/awards/">Awards</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/about-us/">About Us</a></li>
                <li><a href="https://spacegrant.carthage.edu/first-nations-launch/history/">History</a></li>
              </ul>
            </li>
          </ul>
        </div> <!-- /#main-menu -->
      </article>
    </header>
    <!--START: Page Header-->
    <header id="page-header">
      <h2>
        {% block page_header %}{% endblock %}
      </h2>
      <span class="hairline"></span>
    </header>
    <!--END: Page Header-->
    <!--START: Page Content-->
    <article class="grid-container padding-bottom-3 padding-top-3" id="page-content-wrap">
      <div class="grid-x" id="aside">
        <div class="large-2 medium-2 cell small-12" data-sticky-container>
          <div id="page-sidebar" class="sticky" data-sticky data-anchor="aside">
            <div class="title-bar" data-responsive-toggle="account-menu" data-hide-for="medium">
              <button class="menu-icon" type="button" data-toggle="account-menu"></button>
              <div class="title-bar-title">Dashboard</div>
            </div>
            <div id="account-menu" style="margin-bottom:14px;margin-right:8px;">
              <h3><a href="{% url 'dashboard_home' %}">Dashboard</a></h3>
              <ul class="vertical menu show-for-small-only">
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard_home' %}">Manage applications</a></li>
                <li><a href="{% url 'dashboard_profile' %}">Manage profile</a></li>
                <li><a href="{% url 'account_email' %}">Manage your emails</a></li>
                <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                {% if user.is_staff %}
                  <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                {% endif %}
              </ul>
              <ul class="vertical menu show-for-medium">
                {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard_home' %}">Manage applications</a></li>
                <li><a href="{% url 'dashboard_profile' %}">Manage profile</a></li>
                <li><a href="{% url 'account_email' %}">Manage your emails</a></li>
                <li><a href="{% url 'account_change_password' %}">Change password</a></li>
                {% if user.is_staff %}
                  <li><a href="{% url 'admin:index' %}">Administration</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                {% endif %}
              </ul>
            </div> <!-- /#account-menu -->
          </div> <!-- /#page-sidebar -->
        </div> <!-- /.large-2 sticky container -->
        <!-- content column -->
        <div class="large-8 medium-8 small-12 cell">
          <div class="show-for-small-only"><br></div>
          {% block content_head %}
          <h1 id="page_title" class="margin-left-2">
          {% if user.is_authenticated %}
            {{user.profile.salutation}}
            {{user.first_name}}
            {{user.profile.second_name}}
            {{user.last_name}}
          {% else %}
            WSGC {{reg_type|capfirst}} Registration
          {% endif %}
          </h1>
          {% endblock %}
          <div id="main-content">
            {% block content %}{% endblock %}
          </div> <!-- /#main-content -->
        </div> <!--  /.large-8 content column -->
      </div> <!-- /.grid-x -->
    </article>
    <!--END: Page Content-->
    <!--START: Footer-->
    <footer id="main-footer" class="margin-left-3 margin-right-3 padding-left-3 padding-right-3">
      <div class="content grid-x grid-margin-x expanded secondary">
        <div class="large-2 cell margin-bottom-1">
          <a class="cc-logo" href="http://www.carthage.edu/">
<img src="https://spacegrant.carthage.edu/live/resource/image/themes/europa/assets/images/carthage-logo.rev.1656459089.png" alt="Carthage College" loading="lazy">
          </a>
        </div>
        <div class="large-3 cell">
          <div class="address">
            <p>
            Wisconsin Space Grant Consortium<br>
            Carthage College<br>
            2001 Alford Park Drive<br>
            Kenosha, WI 53140
            </p>
          </div>
          <ul class="social-list">
            <li><a href="https://twitter.com/wispacegrant/" target="_blank"><i class="fa-brands fa-square-twitter fa-2xl"></i></a></li>
            <li><a href="https://www.facebook.com/WiscSpaceGrant/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
            <li><a href="https://www.instagram.com/WiscSpaceGrant/" target="_blank"><i class="fa-brands fa-square-instagram fa-2xl"></i></a></li>
            <li><a href="https://www.flickr.com/photos/wispacegrant/albums/" target="_blank"><i class="fa-brands fa-flickr fa-2xl"></i></a></li>
            </ul>
        </div>
        <div class="large-2 cell">
          <div class="contact">
            <p>
            <a href="tel:262-551-6054">262-551-6054</a><br>
            <a href="mailto:spacegrant@carthage.edu">Email</a><br>
            <a href="/about/contact/">Contact WSGC</a>
            </p>
          </div>
        </div>
        <div class="large-2 cell">
          <div class="nasa-meatball">
            <p>
              <a href="https://www.nasa.gov/" target="_blank">
<img style="width: 88px; margin-left: auto; margin-right: auto;" src="https://spacegrant.carthage.edu/live/resource/image/themes/europa/assets/images/nasa_meatball.rev.1656459090.png" alt="NASA" loading="lazy">
              </a>
            </p>
            <p>National Aeronautics and Space Administration</p>
          </div>
        </div>
        <div class="large-3 cell">
          <div class="national-space-grant">
            <a href="http://www.nasa.gov/offices/education/programs/national/spacegrant/home/#.VAo990jc2YU" target="_blank">
              <img src="https://spacegrant.carthage.edu/live/resource/image/themes/europa/assets/images/national-space-grant.rev.1656459091.gif" alt="National Space Grant College and Fellowship Program NASA" loading="lazy">
            </a>
            <p>
            National Space grant<br>
            college and fellowship program<br>
            <span>NASA</span>
            </p>
          </div>
        </div>
      </div>
      <div class="grid-x grid-margin-y expanded">
        <div class="medium-12 cell">
          <span class="copyright">
            <a id="copyright" href="https://spacegrant.carthage.edu/livewhale/?login&amp;referer=1">&copy;</a>&nbsp;2023 Wisconsin Space Grant Consortium
          </span>
        </div>
      </div>
    </footer>
    <!--END: Footer-->
    <img id="background-image" src="https://spacegrant.carthage.edu/themes/europa/assets/images/earth.jpg" alt="Background Image of Earth" loading="lazy">
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.7.2/js/all.js" crossorigin="anonymous"></script>
    <script>
      $(document).foundation();
      $(document).ready(function(){
        /*
        Search
        */
        var mainSearch = $("#main-search");
        var searchCont = $("#search-container")
        var searchInterval;
        mainSearch.find('.icon').click(function()
        {
          if(mainSearch.hasClass("active"))
          {
              mainSearch.removeClass("active");
              searchCont.css({display:"none"});
          }
          else
          {
              mainSearch.addClass("active");
              searchCont.css({display:"block"});
          }
        });
        mainSearch.mouseenter(function()
        {
          clearInterval(searchInterval);
          searchInterval = null;
        });
      });
    </script>
    <!--END: JS Files-->
    <script type="text/javascript">
    $(function() {
        $(".required > input").addClass("required");
        $(".required > select").addClass("required");
        $(".required > textarea").addClass("required");
        $(".required > textarea").parent().parent().find('h3').addClass("required");
        $(".warning > input").addClass("error");
        $(".warning > select").addClass("error");
        $(".warning > textarea").addClass("error");
        $(".required > ul").parent().parent().find('h3').addClass("required");
    });
    </script>
    {% endblock %}
    {% block extra_javascript %}{% endblock %}
</body>
{% endblock %}
</html>
{% endautoescape %}
