{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="buffer">
        {% if user.is_anonymous %}
            <h1>Login</h1>
            <p>Please use your Carthage username to log in.</p>
            {% if form.errors %}
                <p class="error">
                Please enter a correct username and password. Both fields are case-sensitive.<br /><br />  NOTE: Your password expires every 6 months, so if you have not used your Carthage account in over 6 months, you will have to <a href="http://www.carthage.edu/password" target="_blank">change your password</a>.</p>
            {% endif %}
            {% include "accounts/login_form.inc.html" %}
        {% else %}
            <h2>You are already logged in</h2>
            {% if next %}
                <p><a href="{{next}}">Click here to continue on to your destination.</a><p>
            {% else %}
                <p><a href="../logout/">Do you want to log out and log in as a new user?</a></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block extra_content %}
    <div class="buffer">
    <p>If your password does not work, you can reset it at <a href="http://www.carthage.edu/password/" target="_blank">www.carthage.edu/password/</a>.</p>
    <p>If you do not have a Carthage user account, please contact the Help Desk at (262) 551-5950. If you are a new entering student you may also contact the Admission Office at (262) 551-6000.</p>
    </div>
{% endblock %}
