{% block required_fields %}
{% include "includes/required_text.html" %}
{% endblock %}
{% include "includes/errors_text.html" %}
<form method="post" action="{{action|default:'.'}}" class="form"
    {% block extra_form_tag %} id="profile"{% endblock%}>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <fieldset class="blockLabels">
        <ol>
            {% for field in form.visible_fields %}
                {% include "form_field.inc.html" %}
            {% endfor %}
        </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
</form>
