{% block required_fields %}<p><span id="required">Highlighted fields</span> are required.</p>{% endblock %}
{% if form.errors %}
    <p class="error">There were errors with the data submitted, see below.</p>
{% endif %}
<form method="POST" action="." class="form" id="profile"{% block extra_form_tag %}{% endblock%}>{% csrf_token %}
    {{ wizard.management_form }}
    {% for hidden in wizard.form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <fieldset class="blockLabels">
        <ol>
            {% for field in wizard.form.visible_fields %}
                {% include "form_field.inc.html" %}
            {% endfor %}
            <li class="btnHolder">
                <label for="id_submit">&nbsp;&nbsp;</label>
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="button">First</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="button">Previous</button>
                {% endif %}
                <input type="submit" value="{% if wizard.steps.step1 == wizard.steps.count %}Submit{% else %}Next Step{% endif %}" class="button" />
            </li>
        </ol>
    </fieldset>
</form>
