{% extends "djcedu/home.html" %}
{% load livewhale_api %}
{% block title %}Continuing Education: Data Submitted Successfully{% endblock %}
{% block extra_style %}
    <style type="text/css" media="screen, projection">
    #second {width:600px;}
    #fourth {float:left;overflow:hidden;padding-left:150px;padding-top:20px;}
    </style>
{% endblock %}
{% block content %}
<div id="first"></div>
<div id="second">
    <div class="buffer">
    <h2 class="page_title">Data submitted</h2>
    <p class="description" style="color: green">
        Thank you for your interest. You will receive a confirmation by e-mail.
    </p>
    </div>
</div>
<div id="fourth">
    {% get_lw_content as contact blurbs 1349 %}
    {{contact.body}}
</div>
{% endblock %}
