{% extends "base.html" %}
{% load livewhale_api %}
{% block javascript %}
    <script src="https://www.carthage.edu/assets/js/jquery/plugins/jquery.searchMeme.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        var search = $('#search-text').searchMeme({ onSearch: function (searchText) {
            setTimeout(function () {
                search.searchMeme({ searchComplete: true });
                    $('#search-form').submit();
            }, 0);
        }
        , buttonPlacement: 'right', button: 'none', defaultText: ''
        });
    });
    </script>
{% endblock %}
{% block css %}
    <!-- CSS -->
    <style type="text/css" media="screen, projection">
    /* <![CDATA[ */
        @import url("//www.carthage.edu/assets/current/css/overrides/adulted.css");
        body {font-size:13px;}
    /* ]]> */
    </style>
{% endblock %}
{% block css_columns %}{% endblock %}
{% block body %}
<body{%block bodytag %}{% if page.behavior %} id="{{page.behavior}}"{% endif %}{% if page %}{% if page.parent %} class="subpage"{% else %} class="home"{% endif %}{% endif %}{% endblock %}>
    <div id="css_wrap1">
        <div id="css_wrap2">
            <!-- wrapper -->
            <div id="wrapper">
                <!-- Header -->
                {% get_lw_content as header blurbs 1354 %}
                {{header.body}}
                <!-- end Header -->
                {% block content %}{% endblock %}
                <!-- footer -->
                {% get_lw_content as footer blurbs 1355 %}
                {{footer.body}}
                <!-- end footer -->
            </div>
            <!-- end wrapper -->
            <!-- analytics -->
            {% include "urchin.html" %}
        </div>
    </div>
</body>
{% endblock %}
