{% extends "base.html" %}
{% block title %}429 Server Error{% endblock %}
{% block content_head %}
  <h1>Carthage College</h1>
{% endblock %}
{% block content %}
<img src="https://app.carthage.edu/themes/shared/img/headache_puppy.jpg"
  width="400" style="width:400px !important;" border="0" alt="headache puppy" title="headache puppy">
<p>
<em>You seem to be sending far too many requests to the server.</em>
</p>
<p>
  <strong>What are you up to? Slow your roll and try your request again.</strong>
</p>
{% endblock %}
