{% extends "base.html" %}
{% block title %}500 Server Error{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Carthage Forms
    </h1>
{% endblock %}
{% block content %}
<img src="https://www.carthage.edu/themes/shared/img/headache_puppy.jpg"
    width="400" style="width:400px !important;" border="0" alt="headache puppy" title="headache puppy" />
<p>
<em>Apologies, something went wrong.</em>
</p>
<p>
    <strong>
        The hyperdrive motivator has been damaged.<br>
        DevOps have received a detailed email about this error,<br>
        and will fix the problem straight away.
    </strong>
</p>
{% endblock %}
