{% extends "base.html" %}
{% block title %}500 Server Error{% endblock %}
{% block content_head %}
    <h1 id="page_title">
        Carthage Forms
    </h1>
{% endblock %}
{% block content %}
<img src="https://www.carthage.edu/themes/shared/img/system/headache_puppy.jpg"
    width="500" height="375" border="0" alt="Hamster" title="Hamster" />
<p>
Apologies, something went wrong.
</p>

<p>
A team of highly trained monkeys has been dispatched to deal with the situation.
</p>
<p>
    <strong>
        The Systems Administrators have receive a detailed
        email about this error<br>
        and the problem will be fixed straight away.
        <br><br>
        That said, you might try hitting the back button
        and submitting your request once again. That works
        from time to time.
    </strong>
</p>
{% endblock %}
