{% autoescape off %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="noindex, nofollow">
  {% block redirect %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
  {% block metatags %}{% endblock %}
  {% block feeds %}{% endblock %}
  {% block css %}{% endblock %}
  {% block extra_style %}{% endblock %}
  {% block jquery %}
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"
  type="text/javascript"></script>
  {% endblock %}
</head>
<body{% block body_tag %}{% endblock %}>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
{% block extra_javascript %}{% endblock %}
</body>
</html>{% endautoescape %}
