{% spaceless %}
<div id="main_modal" title="Update Contact Information"
    style="display:none;">
    <div id="ens_form" title="Update Contact Information">
        <div class="header">What is this about?</div>
        <fieldset id="instructions">
            <p>
                Please take a couple of minutes to let the college know
                how to get in touch with you in case of an emergency.
            </p>
            <p>
                Once each semester we will ask everyone to update the
                information in this form. There are two sections:
            </p>
            <ul>
                <li>
                    <strong>How should we contact you?</strong>
                    <br />
                    The college maintains an emergency notification system
                    that allows us to send immediate notification
                    via telephone, text message, and email. These numbers
                    and addresses should be ways to reach <strong>you</strong>.
                </li>
                <li>
                    <strong>Whom should we contact about you?</strong>
                    <br />
                    If we determine that something is wrong, we will try
                    to contact the person or people listed in this section.
                </li>
            </ul>
            <p>
                Click on each section below to edit the information we
                have for you.
            </p>
        </fieldset>
        <div class="header">How should we contact you?</div>
        <fieldset id="ens">
            <input type="hidden" name="STATUS" id="STATUS" value=""/>
            <p>
                Please provide a cell phone number at which we can reach you
                for important college business
            </p>
            <table cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        Your cell phone number
                    </td>
                    <td>
                        <input type="text" class="phone" name="ENS_SELF_CELL" id="ENS_SELF_CELL" value="{{ENS.phone.strip}}">
                        <select name="ENS_CARRIER" id="ENS_CARRIER">
                            {% for val,txt in mobile_carrier %}
                                <option value="{{val}}"
                                    {% if ENS.cell_carrier == val %}
                                    selected="selected"
                                    {% endif %}
                                    >
                                    {{txt}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Your primary email address for college business is: {{user.email}}</p>
                        <p>
                        Please also provide your alternate non-Carthage email address.
                        The alternate email will also be part of the Emergency Notification System,
                        and you can use it to reset your Carthage password.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="asterisk">*</span>
                        Alternate (non-Carthage) email
                    </td>
                    <td>
                        <input type="text" class="name" name="ENS_EMAIL" id="ENS_EMAIL" value="{{ENS.line1.strip}}">
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="header" id="missingheader">
            Whom should we contact if you are missing?
        </div>
        <fieldset id="missing">
            <p>
                Please fill out the name of the person you wish to be
                contacted in case you are determined to be missing.
                All information will be kept confidential in accordance
                with the Higher Education Re-authorization act of 2008.
            </p>
            <table cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        <span id="asterisk">*</span>
                        Primary Contact Name
                    </td>
                    <td>
                        <input type="text" name="MIS1_NAME" class="name" id="MIS1_NAME" value="{{MIS1.line1.strip}}">
                    </td>
                    <td align="right">
                        <span id="asterisk">*</span>
                        Relationship {{MIS1.cell_carrier}}
                    </td>
                    <td>
                        <select name="MIS1_REL" id="MIS1_REL">
                            {% for val,txt in relationship %}
                                <option value="{{val}}"
                                    {% if MIS1.cell_carrier == val %}
                                    selected="selected"
                                    {% endif %}
                                    >
                                    {{txt}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="asterisk">*</span>
                        Their cell phone
                    </td>
                    <td colspan="3">
                        <input type="text" name="MIS1_PHONE1" id="MIS1_PHONE1" class="phone" value="{{MIS1.phone.strip}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Their daytime phone
                    </td>
                    <td>
                        <input type="text" name="MIS1_PHONE2" id="MIS1_PHONE2" class="phone" value="{{MIS1.line2.strip}}">
                    </td>
                    <td align="right" nowrap="nowrap">
                        Their evening phone
                    </td>
                    <td>
                        <input type="text" name="MIS1_PHONE3" id="MIS1_PHONE3" class="phone" value="{{MIS1.line3.strip}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><hr /></td>
                </tr>
                <tr>
                    <td nowrap="nowrap">
                        Alternate Contact Name
                    </td>
                    <td>
                        <input type="text" name="MIS2_NAME" id="MIS2_NAME" class="name" value="{{MIS2.line1.strip}}">
                    </td>
                    <td align="right">
                        Phone
                    </td>
                    <td>
                        <input type="text" name="MIS2_PHONE1" id="MIS2_PHONE1" class="phone" value="{{MIS2.phone.strip}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><hr /></td>
                </tr>
                <tr>
                    <td>
                        Alternate Contact Name
                    </td>
                    <td>
                        <input type="text" name="MIS3_NAME" id="MIS3_NAME" class="name" value="{{MIS3.line1.strip}}">
                    </td>
                    <td align="right">
                        Phone
                    </td>
                    <td>
                        <input type="text" name="MIS3_PHONE1" id="MIS3_PHONE1" class="phone" value="{{MIS3.phone.strip}}">
                    </td>
                </tr>
            </table>
            <p>
                If you are under 18 years old, we are legally required to
                contact a parent/guardian if you are determined to be
                missing. We will also contact any additional people that
                you list (above). If you are over 18, we may also contact
                parents in addition to the contacts listed above.
            </p>
        </fieldset>
        <div class="header">Whom should we contact about you?</div>
        <fieldset id="ice">
            <p>
                Please fill out the name of the person you wish to be
                contacted in case of an emergency.
            </p>
            <table cellpadding="5" cellspacing="0">
                <tr>
                    <td colspan="4"><h2>Emergency Contact</h2></td>
                </tr>
                <tr>
                    <td>
                        <span id="asterisk">*</span>
                        Name
                    </td>
                    <td>
                        <input type="text" name="ICE_NAME" id="ICE_NAME" class="name" value="{{ICE.line1.strip}}">
                    </td>
                    <td align="right">
                        <span id="asterisk">*</span>
                    </td>
                    <td>
                        <select name="ICE_REL" id="ICE_REL">
                            {% for val,txt in relationship %}
                                <option value="{{val}}"
                                    {% if ICE.cell_carrier == val %}
                                    selected="selected"
                                    {% endif %}
                                    >
                                    {{txt}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="asterisk">*</span>
                        Their cell phone
                    </td>
                    <td colspan="3">
                        <input type="text" name="ICE_PHONE1" id="ICE_PHONE1" class="phone" value="{{ICE.phone.strip}}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Their daytime phone
                    </td>
                    <td>
                        <input type="text" name="ICE_PHONE2" id="ICE_PHONE2" class="phone" value="{{ICE.line2.strip}}">
                    </td>
                    <td align="right">
                        Their evening phone
                    </td>
                    <td>
                        <input type="text" name="ICE_PHONE3" id="ICE_PHONE3" class="phone" value="{{ICE.line3.strip}}">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr />
                        <p>
                            You may optionally provide the name of a second
                            person you wish to be contacted in case of an
                            emergency.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="ICE2_NAME" id="ICE2_NAME" class="name" value="{{ICE2.line1.strip}}">
                    </td>
                    <td align="right">Relationship</td>
                    <td>
                        <select name="ICE2_REL" id="ICE2_REL">
                            {% for val,txt in relationship %}
                                <option value="{{val}}"
                                    {% if ICE2.cell_carrier == val %}
                                    selected="selected"
                                    {% endif %}
                                    >
                                    {{txt}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Their cell phone</td>
                    <td colspan="3">
                        <input type="text" name="ICE2_PHONE1" id="ICE2_PHONE1" class="phone" value="{{ICE2.phone.strip}}">
                    </td>
                </tr>
                <tr>
                    <td>Their daytime phone</td>
                    <td>
                        <input type="text" name="ICE2_PHONE2" id="ICE2_PHONE2" class="phone" value="{{ICE2.line2.strip}}">
                    </td>
                    <td align="right">
                        Their evening phone
                    </td>
                    <td>
                        <input type="text" name="ICE2_PHONE3" id="ICE2_PHONE3" class="phone" value="{{ICE2.line3.strip}}">
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="header">Parent or Guardian Contact</div>
        <fieldset id="parent">
            <table cellpadding="5" cellspacing="0">
                <tr>
                    <td>Phone</td>
                    <td>
                        <input type="text" class="phone" name="CLLP_PHONE" id="CLLP_PHONE" value="{{CLLP.line1.strip}}">
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" class="name" name="EML4_EMAIL" id="EML4_EMAIL" value="{{EML4.line1.strip}}">
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
{% if not solo %}
<button type="button" id="ens_form_button">Edit Emergency Contacts</button>
{% endif %}
{% endspaceless %}
